<a href="https://colab.research.google.com/github/Cabreraxx9/CSC221_ncabr005/blob/main/Assignment16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment 16**

**Nicholas Cabrera**

**CSC 221A**

# **1.1 Running Python**

In [ ]:
# Typing "Python" from a command terminal will launch python
#and the interpreter will start where you can type into REPL

#Certian environments may display a different prompt
#regardless of what you see, type a command and it runs in which you see the output
#this is pythons interactive mode

print("hello world")

hello world

In [1]:
6000 + 4523.50 + 134.25

10657.75

In [2]:
#The variable "_" holds the result of the last operation.
_ + 8192.75

18850.5

# **1.2 Python Programs**

In [ ]:
#1.2 Put programs in a text file to have them ran repeatedly, like:

#hello.py <--- this is the name of textfile
#print("Hello World")  <--- this is the statement in the file

#to execute this file, provide the filename to the interpreter, like:

shell % python3 hello.py
Hello World
shell %

#using #! specifys the interpreter on the first line, like:

#!/usr/bin/env python3
print("Hello World")

# **1.3 Primitives, Variables, and Expressions**

In [5]:
42 #this is an int
4.2 #this is a float
"forty-two" #this is a string
True #this is a boolean

#A variable is a name that refers to a value. A value represents an object of some type
# x is the variable and 42 is the value

x = 42

#you can see an object type explicitly attached to a name like:
x: int = 42   #<-- new way to show a hint on an object as a certian type
x = int("nick")   #<-- turning an object into a a certian type

#an expression is a combination of primitives, names, and operator that produce a value such as:
2 + 3 * 4

14

In [12]:
#The following program uses variables and expressions to perform a compound_interest calculaton:

principal = 1000
rate = 0.05
numyears = 5
year = 1

while year <= numyears:
  principal = principal * (1 + rate)
  print(year, principal)
  year += 1

1 1050.0
2 1102.5
3 1157.625
4 1215.5062500000001
5 1276.2815625000003

In [13]:
#Same program above but with a prettier print statment

# >3d is three digit decimal number right aligned
# 0.2f means a floating point number with two decimal places of accuracy

principal = 1000
rate = 0.05
numyears = 5
year = 1

while year <= numyears:
  principal = principal * (1 + rate)
  print(f"{year:>3d} {principal:0.2f}")
  year += 1

  1 1050.00
  2 1102.50
  3 1157.62
  4 1215.51
  5 1276.28

# **1.4 Arithmetic Operators**

Arithmetic Operators

In [3]:
7 + 4 #addition

12

In [16]:
7 - 4 #subtraction

3

In [ ]:
7 * 4 #multiplication

In [13]:
7 / 4 #This produces a floating point number which is a decimal

1.75

In [14]:
7 // 4 # truncates the result into a whole integer

1

In [1]:
7 ** 4 # to the power of

46656

In [15]:
7 % 4 #the modelo which returns the remainder of this division 7/4

3

In [20]:
-6

-6

In [ ]:
+6

In [23]:
abs(-9)

9

Common Mathematical functions

In [ ]:
abs(-9) #absolute value

In [17]:
divmod(5,3) #this returns 5 / / 3, 5 % 3)

(1, 2)

In [27]:
pow(6,2)

36

In [25]:
round(0.5)

0

Bit Manipulation Operators

In [35]:
a=0b1100
mask= 0b11110000
x = (a & mask) >> 4

comparison Operators

In [ ]:
x == y  #equal too
x !=    #not equal to
x < y   #Less than
x > y   #Greater than
x >=    #Greater than or equal to
x<= y   #Less than or equal to

Logical Operators

In [ ]:
or #if x is false, return y;otherwise, return x
and#if x is false, return x;otherwise, return y
not#if x is false, return True;otherwise, return False

In [ ]:
count = count + 1

#or you can do a simplified version like

count += 1

# **1.5 Conditionals and Control Flow**

The **while**, **if** and **else** statements are used for looping and conditional code execution.

In [1]:
if 2 < 1:
  print("computer says Yes")
else:
  print("computer says No")

computer says No

bodies of the IF and ELSE clauses are denoted by indentation. The ElSE clause is optional. to create an empty clause use the PASS statement:

In [7]:
if 2 > 1:
  pass
else:
  print("computer says no")

To handle multiple-test cases, use the elif statement:

In [10]:
suffix = ".png"
if suffix == ".htm":
   print("text/html")
elif suffix == ".jpg":
  print("image/jpeg")
elif suffix == ".png":
  print ("image/png")
else:
  print("this prints if no ifs or elifs meet the condition")

image/png

assigning a value in a combination with a test, use a conditional expression:

In [12]:
maxval = 2 if 2 > 3 else 3

#this is the longer version of the line above:

if 2 > 3:
  maxval = 2
else:
  maxval = 3

the assignment of a variable and a conditional combined together using the walrus operator which is :+

In [11]:
x = 0
#The parantheses used to surround assignment expression are always required
while (x := x + 1) < 10:
  print(x)

1
2
3
4
5
6
7
8
9

The ***break*** statement can be used to abort a loop early:

In [13]:
x = 0

while x < 10:
  if x == 5:
    break     #this line stops the loop then moves to Done below
  print(x)
  x += 1

print("Done")

0
1
2
3
4
Done

The ***continue*** statement skips the rest of the loop body and goes back to the top of the loop:

In [14]:
x = 0
while x < 10:
  x = x + 1
  if x == 5:
    continue      # this line skips the print(x) then goes back to the loop start.
  print(x)

print("Done")

1
2
3
4
6
7
8
9
10
Done

#**1.6 Text Strings**

To define a string literal, enclose it in single, double, or triple quotes as follows:

In [ ]:
#make sure to use the same type of quote you started with to terminate it

a = 'Hello World'
b = "Python is groovy"    # i prefer this way
c = '''Computer says no'''
d = """Computer still says no"""  #this one ive used inside a function to describe it

In [19]:
# ''' these are useful if you have alot of text in a print statement '''

print(''' dnnfdfndsfnsdfnsdnfsdnfsdnfsdnfsdknfsd

fdsfndsfnsdfnsdfnsdnfsjdfnd
jfndkjfndskfndskfnsd''')

 dnnfdfndsfnsdfnsdnfsdnfsdnfsdnfsdknfsd

fdsfndsfnsdfnsdfnsdnfsjdfnd
jfndkjfndskfndskfnsd

In [ ]:
# immediate adjacent string literals are concatendated into a single string.
#THis is another version of the cell above example

print(
'fdfsd\n'
'\n'
'fdfdfdfdsf\n'
'dfdfdfdfdfdfds\n')

In [ ]:
# If openining quotation marks of a string is prefaced be an f,
#escaped expressions within a string are evaluated

print(f"{example} {example}")

In [50]:
a = "Hello World "

#this prints the length of any string
print(len(a))
#this prints the 4th index slot start from the beginning 0
print(a[4])
#this prints the last character in the string
print(a[-1])



# to extract a substring you can use the slicing operator
#if either index is omittted it will, the beginning or end of the string is assumed
print(a[:5])
print(a[6:])
print(a[3:8])
print(a[-5:])



#common string methods that are used to manipulate their contents
#a="hello world" was used for an example
g = a.replace("Hello","Hello Cruel")
print(g)

g = a.endswith("world")
print(g)

g = a.find("Hello")
print(g)

g = a.lower()
print(g)

g = a.replace("Hello","Hello Cruel")
print(g)

g = a.split()
print(g)

g = a.startswith("Hello")
print(g)

g = a.strip()
print(g)

g = a.upper()
print(g)

12
o

Hello
World
lo Wo
orld
Hello Cruel World
False
0
hello world
Hello Cruel World
['Hello', 'World']
True
Hello World
HELLO WORLD
Hello World ly

In [51]:
#strings are concatenated with the plus (+) operator:
a= "Hello World"

g = a + "ly"
print(g)

Hello Worldly

In [70]:
#python never interprets the contents of a string as numerical data

x = "37"
y = "42"
z= x + y
print(z)


#this adds them when you convert the string into a numerical data using a function as int()
z = int(x) + int(y)
print(z)

s = "The value of x is " + str(x)
print(s)

s = "The value of x is " + repr(x)
print(s)

s = "The value of x is " + format(x, '4d')
print(s)

3742
79
The value of x is 37
The value of x is '37'

ValueError: ignored

In [64]:
s = "hello\nworld"
print(str(s))

print(repr(s))

hello
world
'hello\nworld'

In [75]:
x = 12.34567
format(x, '0.2f')

'12.35'

In [73]:
f"{x:0.2f}"

'12.35'

# **1.7 File Input and Output**

In [ ]:
#The following program opens a file and reads its contents line by line as text strings:

#The open() function returns a new file object. The with statement that precedes it declares a block
#of statements (or context) where the file (file) is going to be used. Once control leaves this block,
#the file is automatically closed.

with open("data.text") as file
  for line in file:
    print(line, end=" ")

In [ ]:
# If you dont use the with statement, the code would look like this:

file = open("data.text")
for line in file:
  print(line, end=" ") # end="" omits the extra newline
file.close() #its easy to forget this line so its better to use the with statement above where it closes automatically

In [ ]:
#reading a file in its entirety as a string, use the read() method like this:

with open("data.text") as file:
  data = file.read()

In [ ]:
#if you want to read a large file in chunks, give a size hint to the read() method as follows:
#The := operator used in this example assaigns to a variable and returns its value so that it can be tested by the while loop to break out.
#when the end of a file is reached, read() returns an empty string.

with open("data.text") as file:
  while (chunk := file.read(10000)):
    print(chunk, end="")

In [ ]:
#another way to write the above function using break

with open("data.text") as file:
  while True:
    chunk = file.read(10000)
    if not chunk:
      break
    print(chunk, end="")

In [ ]:
#making the output of a program go to a file, supply a file argument to the print() function

with open("out.text", "wt") as out:
  while year <= numyears:
    principal = principal * (1 + rate)
    print(f"{year:>3d} {principal:0.2f}", file=out)
    year += 1

In [76]:
#reading data typed interactively in the console by using the input() function

name = input("Enter your name: ")
print("Hello", name)

Enter your name: Nick
Hello Nick

# **1.8 Lists**

In [89]:
#Lists are an ordered collection of arbitrary objects. Create a list by enclosing values in square brackets:

names = ["Dave", "Paula", "Thomas", "Lewis"]

#lists are indexed by integers, starting with 0
#returns the 3rd item of the list

a = names[2]
print(a)

Thomas

In [88]:
#changes the 3rd item
names = ["Dave", "Paula", "Thomas", "Lewis"]

names[2] = "tom"
print(names)

['Dave', 'Paula', 'tom', 'Lewis']

In [1]:
#prints the last item
names = ["Dave", "Paula", "Thomas", "Lewis"]
print(names[-1])

names.append("Nick") #appends a new item to the end of the list
print(names)

names.insert(2, "Aya") #inserting an item in the list at a specific location
print(names)



for name in names:    #To iterate over the items in a list, use a FOR loop
  print(name)

Lewis
['Dave', 'Paula', 'Thomas', 'Lewis', 'Nick']
['Dave', 'Paula', 'Aya', 'Thomas', 'Lewis', 'Nick']
Dave
Paula
Aya
Thomas
Lewis
Nick

In [8]:
names = ["Dave", "Paula", "Thomas", "Lewis"]

b = names[0:2]        #extracting a portion of the list with a slicing operator
print(b)

c = names[2:]
print(c)

names[1] = "Becky"
print(names)

names[0:2] = ["Dave", "Mark", "Jeff"] #this replaces the first 2 items
print(names)

['Dave', 'Paula']
['Thomas', 'Lewis']
['Dave', 'Becky', 'Thomas', 'Lewis']
['Dave', 'Mark', 'Jeff', 'Thomas', 'Lewis']

In [9]:
a = ["x", "y"] + ["z", "z", "y"] #concatenating lists
print(a)

['x', 'y', 'z', 'z', 'y']

In [18]:
#creating an empty list

names = []
#or
names = list()

letters = list('Dave') #using list is commonly used when converting data to a list
print(letters)

for name in names:
  names.append("Nick")

print(names)

['D', 'a', 'v', 'e']
[]

In [26]:
names = []

names.append("Nick")

print(names)

['Nick']

# **1.9 Tuples**

In [ ]:
#creating a tuple by enclosing a group of values in parentheses
holding = ("GOOG", 100, 490.10)
address = ("www.python.org", 80)

#values can be extracted by numercial index like a list.
#its common to unpack a tuple like:
name, shares, price = holding
host, port = address

# **1.10 Sets**

In [27]:
#a set is an unordered collecton of unique objects.
#creating a set, enclose a collection of values in curly braces
#you cant make a set containing lists and are unordered and cannot be indexed by numbers
#elements of a set are never duplicated
#the order in which they print cant be predicted

names = {"IBM", "MSFT", "AA"}
#or
names2 = set(["IBM", "MSFT", "HPE", "IBM", "CAT"])

print(names2)

{'CAT', 'IBM', 'MSFT', 'HPE'}

In [ ]:
#creating an empty set
r = set()

In [28]:
#sets support a standard collection of operations
a = names | names2
print(a)

{'IBM', 'MSFT', 'HPE', 'AA', 'CAT'}

# ***1.11 Dictionaries***

> Indented block

In [47]:
#a dictionary is a mapping of keys and values
#you create a dictionary by enclosing key-value pairs, each seprated by a colon in curly braces

s = {
    "name": "GOOG",
    "shares": 100,
    "price": 490.10
}

#accsessing members of a dictionary
name = s["name"]
print(name)

syms = list(s) #making a dictionary into a list
print(syms)

syms = s.keys()
print(syms)

syms = s.values()
print(syms)

syms = s.items()
print(syms)

GOOG
['name', 'shares', 'price']
dict_keys(['name', 'shares', 'price'])
dict_values(['GOOG', 100, 490.1])
dict_items([('name', 'GOOG'), ('shares', 100), ('price', 490.1)])

In [60]:
#looping over the entire contents of a dictionary as key-value pairs:
s = {
    "name": "GOOG",
    "shares": 100,
    "price": 490.10
}

for dic in s.items():
  print(dic)

('name', 'GOOG')
('shares', 100)
('price', 490.1)

# **1.12 Iteration and Looping**

In [61]:
#The for loop is the most widely used looping construct that iterates over a collection of items

for n in [1,2,3,4,5,6,7]:
  print(f"2 to the {n} power is {2**n}")

2 to the 1 power is 2
2 to the 2 power is 4
2 to the 3 power is 8
2 to the 4 power is 16
2 to the 5 power is 32
2 to the 6 power is 64
2 to the 7 power is 128

In [62]:
#shortcut to example above using the range()

for n in range(1, 10):
  print(f"2 to the {n} power is {2**n}")

2 to the 1 power is 2
2 to the 2 power is 4
2 to the 3 power is 8
2 to the 4 power is 16
2 to the 5 power is 32
2 to the 6 power is 64
2 to the 7 power is 128
2 to the 8 power is 256
2 to the 9 power is 512

In [73]:
for i in range(5):
  print(i)

0
1
2
3
4

# **1.13 Functions**

In [76]:
#use a def statement to define a function

def remainder(a, b):
  """computes the remainder of dividing a by b"""    #comomon to use this line (doc string) to describe the function
  q = a // b        #truncating division
  r = a - q * b
  return r

result = remainder(37, 15)      #calling the function   book calls it invoking
print(result)

7

In [ ]:
def remainder(a: int, b: int) -> int:  #if the inputs and outputs arent clear from their names, they can be marked as their type
  """computes the remainder of dividing a by b"""
  q = a // b
  r = a - q * b
  return r

result = remainder(37, 15)
print(result)

In [84]:
def divide(a, b):  #if the inputs and outputs arent clear from their names, they can be marked as their type
  """computes the division of a and b"""
  q = a // b
  r = a - q * b
  return (q, r)

quotient, remainder = divide(1456, 33)
print(quotient,remainder)

2 0

In [88]:
#to assign a default value to a function paramater :

def connect(hostname, port, timeout=300):
  print(hostname,port)


connect("www.python.org", 80)
connect("www.python.org", 80, 500)

#if you know the names of the arguments you can name them when calling them like:
connect(port=70,hostname="www.google.com") #order doesnt matter

www.python.org 80
www.python.org 80
www.google.com 70

# **1.14 Exceptions**

In [ ]:
#if an error occurs in your program, an exception is raised and a traceback message appears.

#you can catch and handle exceptions like:

portfolio = []
with open("portfolio.csv") as file:
  for line in file:
    row = line.split(',')
    try:
      #body that will trigger the traceback message
    except:#traceback error name as err       details from the error are placed in err here
    #if no errors occur the except block is ignored

    print("badrow":, row)#
    print("reason:",err)#

In [ ]:
#the raise statement is used to signal an exception:
raise RuntimeError("computer says no")

# **1.15 Program termination**

In [ ]:
#forcing a program to quit

raise SystemExit()  #Exit with no error message
#or
raise SystemExit("Something is wrong") #Exit with error

# **1.16 Objects and Classes**

In [90]:
#All values used in a program are objects. An object consists of internal data and methods that perform
#various kinds of operations involving that data.

items = [37, 42]

dir(items) # the dir function lists the methods available on an object. special methods begin and end with a double underscore

items.__add__([73, 101])

[37, 42, 73, 101]

In [108]:
#The class statement is used to define new types of objects and for object_oriented programming



class Stack:
  def __init__(self):     #initializing the stack
    self._items = [ ]

  def push(self, item):
    self._items.append(item)

  def pop(self):
    return self._items.pop()

  def __repr__(self):
    return f"<{type(self).__name__} at 0x{id(self):x}, size={len(self)}>"

  def __len__(self):
    return len(self._items)


s = Stack()  #creates a stack
s.push("Dave")  #pushes items into it
s.push(42)
s.push([3, 4, 5])
x = s.pop()
y = s.pop()

print(s)
print(x)
print(y)

<Stack at 0x795415a23970, size=1>
[3, 4, 5]
42

# **1.17 Modules**

In [ ]:
#creating a module is as easy as saving a file with a .py suffix with the same name as the module
text.py # file would have statements and definitions in it then you would use it by:
import text.py #in another file to use that fucnction from another file by having it imported