<a href="https://colab.research.google.com/github/Cabreraxx9/CSC221_ncabr005/blob/main/assignment6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

cars.py

In [3]:
#Simple if test
cars = ["audi", "bmw", "subaru", "toyota"]

for car in cars:
  if car == "bmw":
    print(car.upper())

  else:
    print(car.title())

Audi
BMW
Subaru
Toyota

In [1]:
#checking for equality
car ="bmw"
car == "bmw"

True

In [ ]:
car ="audi"
car == "bmw"

In [2]:
#testing for equality is case sensitive

car ="Audi"
car == "audi"

False

In [35]:
#some sites use a conditional test like these to ensure every users name is truly unique, not just a varation on the capitlizaton
#when someone submits a new username its usually converted to lowercase and compared to all lower case versions of all existing usernames

car ="Audi"
car.lower() == "audi"

car

True

In [5]:
#Checking for inequality

# When you want to check whether two values are not equal, can use a inequality operator(!=)

# toppings.py

requested_topping = "mushrooms"

if requested_topping != "anchovies":
  print("Hold the anchovies")

Hold the anchovies

In [6]:
#numerical comparisons

#checking whether a person is 18 years old

age = 18

age == 18

True

In [10]:
# magic_number.py

#test to see two numbers are not equal

answer = 17

if answer != 42:
  print("Wrong answer")

Wrong answer

In [12]:
#Including various mathematical comparisons in conditional statements

age = 19
age < 21

True

In [13]:
age = 19
age > 21

False

In [14]:
#Checking multiple conditions

#using "and" to check two conditions simultaneously

age_0 = 22
age_1 = 18
age_0 >= 21 and age_1 >= 21

False

In [15]:
#Using or to check multiple conditions
#passes true if one condition passes

age_0 = 22
age_1 = 18
age_0 >= 21 or age_1 >= 21

True

In [17]:
age_0 = 20

age_0 >= 21 or age_1 >= 21

False

In [23]:
#Check whether a value is in a list

requested_toppings = ["mushrooms", "onions", "pineapple"]

"mushrooms" in requested_toppings

True

In [22]:
requested_toppings = ["mushrooms", "onions", "pineapple"]

"pepporoni" in requested_toppings

False

In [24]:
#Checking whether a value is not in a list

# banned_users.py

banned_users = ["andrew", "carolina", "david"]
user = "marie"

if user not in banned_users:
  print(f"{user.title()}, you cant post if you want.")

Marie, you cant post if you want.

In [25]:
#  BOOLEAN EXPRESSIONS another name for conditonal test.

game_active = True
can_edit = False

In [ ]:
#Try it yourself

# conditonal test

motorcycle = "kawasaki"

print("Is motorcycle == kawasaki? I predict true.")
print(motorcycle == "kawasaki")

print("\nIs your motorcyle == honda")
print(motorcycle == "honda")

print("\nIs your motorcycle not equal to honda. def not equal so thats gotta be true")
print(motorcycle != "honda")

In [36]:
motorcycle = "Kawasaki"
motorcycle.lower() == "kawasaki"

True

**if statements**

In [37]:
# simple if statements

# voting.py

age = 19
if age >= 18:
  print("youre old enough to vote")

youre old enought to vote

In [38]:
age = 19

if age >= 18:
  print("youre old enough to vote")
  print("Have you registered to vote yet")

youre old enough to vote
Have you registered to vote yet

**if-else statements**

In [39]:
#else allows you to define an action or actions that are executed when the conditon fails

age = 17

if age >= 18:
  print("You're old enough to vote")
  print("Have you registered to vote yet")

else:
  print("Sorry, you are to young to vote")
  print("Please register to vote as soon as you turn 18")

Sorry, you are to young to vote
Please register to vote as soon as you turn 18

**The if-elif-else Chain**

In [42]:
#amusement-park.py

age = 2

if age < 4:
  print("your admission cost is 0")
elif age < 18:
  print("Your admission cost is $25")
else:
  print("Your admission cost is $40")

your admission cost is 0

In [44]:
#more concise code than previous

age = 20

if age < 4:
  price = 0

elif age < 18:
  price = 25

else:
  price = 40

print(f"Your admission cost is {price}")

Your admission cost is 40

**Using multiple elif blocks**

In [48]:
age = 70

if age < 4:
  price = 0

elif age < 18:
  price = 25

elif age < 65:
  price = 40

else:
  price = 20

print(f"Your admission cost is {price}")

Your admission cost is 20

**Omitting the else block**

In [49]:
age = 70

if age < 4:
  price = 0

elif age < 18:
  price = 25

elif age < 65:
  price = 40

elif age >= 65:
  price = 20

print(f"Your admission cost is {price}")

Your admission cost is 20

Testing multiple Conditions

In [52]:
# toppings.py

requested_toppings = ["mushrooms", "extra cheese"]

if "mushrooms" in requested_toppings:
  print("Adding mushrooms.")
if "pepperoni" in requested_toppings:
  print("adding pepporoni.")
if "extra cheese" in requested_toppings:
  print("Adding extra cheese.")

print("\nFinished making your pizza!")

Adding mushrooms.
Adding extra cheese.

Finished making your pizza!

In [ ]:
#Test it yourself

#5-3 Alien Colors #1

alien_color = "green"

if alien_color == "green":
 print("aliens are always green and you earn 5 points")

elif alien_color == "black":
  print()

In [58]:
#5-4 Alien colors #2

alien_color = "red"

if alien_color ==  "red":
  print("5 points for shooting alien")


else:
  print("you earned 10 points")

5 points for shooting alien

In [59]:
alien_color = "green"

if alien_color ==  "red":
  print("5 points for shooting alien")


else:
  print("you earned 10 points")

you earned 10 points

In [61]:
#Alien Colors #3

alien_color = "green"

if alien_color ==  "green":
  print("5 points for shooting alien")

elif alien_color == "yellow":
  print("you earned 10 points")

else:
  print("you earn 15 point")

you earn 15 point

In [ ]:
alien_color = "yellow"

if alien_color ==  "green":
  print("5 points for shooting alien")

elif alien_color == "yellow":
  print("you earned 10 points")

else:
  print("you earn 15 point")

In [ ]:
alien_color = "black"

if alien_color ==  "green":
  print("5 points for shooting alien")

elif alien_color == "yellow":
  print("you earned 10 points")

else:
  print("you earn 15 point")

In [4]:
# 5-6 Stages of Life

age  = 64

if age < 2:
  print("youre a baby")

elif age >=2 and age < 4:
  print("youre a toddler")

elif age >= 4 and age < 13:
  print("youre a kid")
elif age > 13 and age < 20:
  print("youre a teenager")
elif age >= 20 and age < 65:
  print("youre an adult")

else:
  print("youre an elder")

youre an adult

In [5]:
# 5-7 Favorite Fruit

favorite_fruits = ["apples", "bananas", "watermelon"]

if "watermelon" in favorite_fruits:
  print("Youre addicted to watermelon")

Youre addicted to watermelon

In [6]:
#Checking a list that is not empty

requested_toppings = []

if requested_toppings:
   for requested_toppings in requested_toppings:
      print("Adding {requested_toppings}.")

   print("finished making your pizza")

else:
  print("Are you sure you want a plain pizza?")

Are you sure you want a plain pizza?

In [7]:
available_toppings = ["mushrooms", "olives", "green peppers", "pepporoni", "pineapple", "extracheese"]

requested_toppings = ["mushrooms", "french fries", "extra cheese"]

for requested_topping in requested_toppings:
      if requested_topping in available_toppings:
        print(f"Adding {requested_toppings}.")

      else:
        print(f"Sorry, we dont have {requested_topping}.")

print("finished making your pizza!!.")

Adding ['mushrooms', 'french fries', 'extra cheese'].
Sorry, we dont have french fries.
Sorry, we dont have extra cheese.
finished making your pizza!!.

In [44]:
#try it yourself

#5-8 Hello Admin

usernames = ["nick", "andre", "cyle", "brian", "admin"]

for username in usernames:
  print(f"Hello {username}")

  if username == "admin":
    print("Hello admin, would you like to see a status report")
  else:
    print(f"thank you {username} for logging in again")

Hello nick
thank you nick for logging in again
Hello andre
thank you andre for logging in again
Hello cyle
thank you cyle for logging in again
Hello brian
thank you brian for logging in again
Hello admin
Hello admin, would you like to see a status report

In [26]:
#5-8 Hello Admin

usernames = []

if usernames:
    for username in usernames:
      print("Hello admin, would you like to see a status report")

else:
      print("we need to find some users")

we need to find some users

In [43]:
#5-10 Checking username

current_users =["nick", "brian", "jack"]

new_users = ["kim", "nick","katie", "sue"]

for new_user in new_users:
      if new_user in current_users:
        print(f"you will need to enter a new username {new_user}.")

      else:
        print(f"the username {new_user} is available")

the username kim is available
you will need to enter a new username nick.
the username katie is available
the username sue is available

In [47]:
#5-11 ordinal numbers

numbers = [1,2,3,4,5,6,7,8,9]

for number in numbers:
  if number == 1:
    print("1st")
  elif number == 2:
    print("2nd")
  elif number == 3:
    print("3rd")
  else:
    print(f"{number}th")

1st
2nd
3rd
4th
5th
6th
7th
8th
9th