<a href="https://colab.research.google.com/github/Cabreraxx9/CSC221_ncabr005/blob/main/Assignment20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 20
## CSC 221
- Nicholas Cabrera

### Instructions:
Fill in each code cell below the question. We are following along in Chapter 4 of Python Distilled.

In [3]:
# 4.1 Essential Concepts

# When we write "a + b" in Python, the interpreter tries to execute a.__add__(b)

# Show that this is true by trying the following:
a = 6
b = 31.5
c = 'asdfg'
a1 = a.__add__(13)
b1 = b.__add__(13)
c1 = c.__add__('13')

# Explain the results
print(a1)   # prints out a integer
print(b1)   # prints out a float
print(c1)   # concatenates the string to another string

d1 = b.__add__(2)
print(d1)

# What are the types of a, b, and c?
# a is a integer
# b is a float because of the decimal
# c is a string

19
44.5
asdfg13
33.5

In [ ]:
# 4.2 through 4.4 will be covered in the next assignment

In [5]:
# 4.5 str and repr
# How many categories of printing are shown below for a datetime object? 8
# What in the Pythion code makes each one get called? print()

from datetime import date
d = date(2023, 11, 7)

print(d)
print(f'{d}')
print(f'{d!s}')
print(f'{d!r}')
print(str(d))
print(repr(d))
print(d.__str__())
print(d.__repr__())

2023-11-07
2023-11-07
2023-11-07
datetime.date(2023, 11, 7)
2023-11-07
datetime.date(2023, 11, 7)
2023-11-07
datetime.date(2023, 11, 7)

In [25]:
# 4.6 First-Class Objects
# What is the significance of all objects being "first-class" in Python?
        # All objects that can be assigned to a name can be treated and used as data

# Explain by typing in the code to create and use the 'items' dictionary shown in section 4.6.
items = {
    "number": 42,
    "text": "Hello World"
    }

items["func"] = abs
import math
items["mod"] = math
items["error"] = ValueError
nums = [1,2,3,4]
items["append"] = nums.append

# Explain each of the lines starting with '>>>' in the section.

items["func"] (-45) #Executing abs() function

45

In [19]:
items["mod"].sqrt(4) #Executing math.sqrt(4)

2.0

In [20]:
try:                #Executes except ValueError as e
  x = int("a lot")
except items["error"] as e:
  print("couldnt convert")

couldnt convert

In [23]:
items["append"] (100) #Executes nums.append(100)

In [ ]:
nums

In [28]:
line = "ACME,100,490.10"
column_types = [str, int, float] #creating a list of values with their types
parts = line.split(",") #splitting the line at the comma position
row = [ty(val) for ty, val in zip(column_types, parts)] #list comprehension looping through the line
row

['ACME', 100, 490.1]

In [120]:
# 4.7 Using None
# Write a function that takes two parameters and returns their sum if they are
#  integers or returns None if either one is not.

def numbers(a,b):
  if a == int(a) and b == int(b):
    return a + b
  else:
    return None
# Put in some test code to show that your function works
numbers(2,"2")



#Mr. Lecky i am unsure if i did this correctly

4

In [128]:
# 4.9 Object Protocol
# Create a simple object that has methods for:
#  __new__
#  __init__
#  __del__
#  __repr__
#  __str__

# INSERT YOUR CODE HERE
# Create a simple object
class Example:

  def __new__(cls, *args, **kwargs):
       print("Object Created")

example1 = Example()

class Example:
  def __init__(self, name):
        self.name = name
        print(f"{self.name} is an example")
  def __repr__(self):
        return (f"Example{self.name}")

# Put in some test code to show how and when each of these 'magic' functions gets called.
example1 = Example("Nick")


#class Example:
    #def __del__(self):
        #print( "deleted")
del example1
#class Example:
    #def __repr__(self):
        #print( "string rep of Example")
repr(Example)
#class Example:
    #def __str__(self):
        #print( "deleted")
str(Example)

Object Created
Nick is an example