<a href="https://colab.research.google.com/github/Cabreraxx9/CSC221_ncabr005/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lists**     [   ] indicate a list

bicycles.py

In [ ]:
bicycles = ["trek","cannondale","redline","specialized"]
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [ ]:
#Accessing elements in a list   access an element in the list by telling python the position, or index of the item

bicycles = ["trek", "cannondale", "redline", "specialized"]
print(bicycles[0])

trek

In [ ]:
#Making a title on an element in the list  INDEX POSITIONS ALWAYS START AT 0.....NOT 1  !!!!!

bicycles = ["trek", "cannondale", "redline", "specialized"]
print(bicycles[0].title())

Trek

In [ ]:
bicycles = ["trek", "cannondale", "redline", "specialized"]
print(bicycles[0])
print(bicycles[3])

trek
specialized

In [ ]:
# -1 position always accesses the last item on the list

bicycles = ["trek", "cannondale", "redline", "specialized"]
print(bicycles[-1])

specialized

In [ ]:
#Using individual values from a list

bicycles = ["trek", "cannondale", "redline", "specialized"]
message = f"My first bicycle was a {bicycles[0].title()}"

print(message)

My first bicycle was a Trek

motorcycles.py

In [ ]:
#Modifying elements in a list

motorcycles = ["honda", "yamaha", "suzuki"]
print(motorcycles)

motorcycles[0] = "ducati"
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [ ]:
#Appending elements to a list       simplest wasy to add a new element

motorcycles = ["honda", "yamaha", "suzuki"]
(motorcycles.append("ducati"))
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
#adding to an empty list by append calls

motorcycles = []

motorcycles.append("honda")
motorcycles.append("yamaha")
motorcycles.append("suzuki")

print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
#Inserting elements into a list

motorcycles = ["honda", "yamaha", "suzuki"]

motorcycles.insert(0, "ducati")
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [ ]:
# REMOVING ELEMENTS FROM A LIST     NOTE: if you are unsure to use del or pop(). Delete wipes it...pop deletes but stores it

#using a del statement
motorcycles = ["honda", "yamaha", "suzuki"]
print(motorcycles)

del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [ ]:
#removing an item using the pop()Method     NOTE: change any pop() item by selecting the index position.

motorcycles = ["honda", "yamaha", "suzuki"]
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)


print(f"The last motorcycle i but was a {popped_motorcycle.title()}.")

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki
The last motorcycle i but was a Suzuki.

In [ ]:
#Removing an item by value      remove() method


motorcycles = ["honda", "yamaha", "suzuki", "ducati"]
print(motorcycles)

motorcycles.remove("ducati")
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ["honda", "yamaha", "suzuki", "ducati"]
print(motorcycles)

too_expensive = "ducati"
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is to expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is to expensive for me.

**cars.py**

  Organizing a list permanently with the sort() method

In [ ]:
# sort() method arranges list alphabetically permanently

cars = ["bmw", "audi", "toyota", "subaru"]
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [ ]:
# reverse alphabetical order

cars = ["bmw", "audi", "toyota", "suburu"]
cars.sort(reverse=True)
print(cars)

['toyota', 'suburu', 'bmw', 'audi']

In [ ]:
#sorting a list temporarily with the sorted() Function

cars = ["bmw", "audi", "toyota", "suburu"]

print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'suburu']

Here is the sorted list:
['audi', 'bmw', 'suburu', 'toyota']

Here is the orginal list again:
['bmw', 'audi', 'toyota', 'suburu']

In [ ]:
#printing a List in reverse order       if you need to change it back to its original order, apply reverse() again

cars = ["bmw", "audi", "toyota", "suburu"]
print(cars)

cars.reverse()
print(cars)

In [ ]:
#Finding the length of a list

cars = ["bmw", "audi", "toyota", "subaru"]
len(cars)

4

USING KNOWLEDGE OF LIST COMPREHENSION FROM CHAPTER 3

In [ ]:
#Print the cubes of of all integers that are a multiple of 7 between 60 and 85

integers = [67, 74, 81]

print((integers[0] ** 3))
print((integers[1] ** 3))
print((integers[2] ** 3))

300763
405224
531441

In [ ]:
#compute y = 7.4x + 51 for the set of values 40, 50, 120, -8, 6

x_list = [40, 50, 120, -8, 6]

print("y =",7*(x_list[0])+51)
print("y =",7*(x_list[1])+51)
print("y =",7*(x_list[2])+51)
print("y =",7*(x_list[3])+51)
print("y =",7*(x_list[4])+51)

y = 331
y = 401
y = 891
y = -5
y = 93

In [25]:
names = ["andre", "cyle"]

message = "Hope you having a good day"

print(message, names[0].title())

print(f"\n{message} {names[1].title()}.")

Hope you having a good day Andre

Hope you having a good day Cyle.

In [38]:
#GUEST LIST "try it yourself"

guest_list = ["nick", "andre", "cyle", "matt"]

message = '"Would you like to go out to dinner,"'

print(message, guest_list[0].title())
print(message, guest_list[1].title())
print(message, guest_list[2].title())
print(message, guest_list[3].title())

print("list has been updated to....")

guest_list[0] = "Sean"

print(guest_list)


print("we found a bigger table for dinner!")

guest_list.insert(0, "cameron")
guest_list.insert(3, "laura")
guest_list.append("anthony")
print(len(guest_list))


print("plans changed, i can only invite 2 people for dinner")


guest_list.pop(0)
print("sorry for the cancel")
guest_list.pop(1)
print("sorry i had to cancel")
guest_list.pop(2)
print("sorry i canceled")
guest_list.pop(3)
print("i had to cancel")
guest_list.pop(-1)
print("sorry i canceled")


print(guest_list, "You are still invited!!")

len(guest_list)

"Would you like to go out to dinner," Nick
"Would you like to go out to dinner," Andre
"Would you like to go out to dinner," Cyle
"Would you like to go out to dinner," Matt
list has been updated to....
['Sean', 'andre', 'cyle', 'matt']
we found a bigger table for dinner!
7
plans changed, i can only invite 2 people for dinner
sorry for the cancel
sorry i had to cancel
sorry i canceled
i had to cancel
sorry i canceled
['Sean', 'laura'] You are still invited!!

2

In [33]:
#try it yourself "SEEING THE WORLD"

locations = ["spain", "ecuador", "china", "egypt"]

print(locations)

print(sorted(locations))
print(locations)

locations.reverse()
print(locations)

locations.reverse()
print(locations)

locations.sort()
print(locations)

locations.sort(reverse=True)
print(locations)

['spain', 'ecuador', 'china', 'egypt']
['china', 'ecuador', 'egypt', 'spain']
['spain', 'ecuador', 'china', 'egypt']
['egypt', 'china', 'ecuador', 'spain']
['spain', 'ecuador', 'china', 'egypt']
['china', 'ecuador', 'egypt', 'spain']
['spain', 'egypt', 'ecuador', 'china']