<a href="https://colab.research.google.com/github/Cabreraxx9/CSC221_ncabr005/blob/main/assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

magicians.py

In [3]:
#looping throught an entire list

magicians = ["alice", "david", "carolina"]
for magician in magicians:
  print(magician)

alice
david
carolina

In [2]:
#building on each item in the for loop

magicians = ["alice", "david", "carolina"]
for magician in magicians:
  print(f"{magician.title()}, that was a crazy trick!!")

Alice, that was a crazy trick!!
David, that was a crazy trick!!
Carolina, that was a crazy trick!!

In [4]:
#building more on each item withn the loop and using "newline" to make messages neater

magicians = ["alice", "david", "carolina"]
for magician in magicians:
  print(f"{magician.title()}, that was a crazy trick!!")
  print(f"I cant wait to see your next trick, {magician.title()}.\n")

Alice, that was a crazy trick!!
I cant wait to see your next trick, Alice.

David, that was a crazy trick!!
I cant wait to see your next trick, David.

Carolina, that was a crazy trick!!
I cant wait to see your next trick, Carolina.

In [5]:
#Doing something after the Forloop. usually will want a message summarizing a block of code. NO IDENTATION!

magicians = ["alice", "david", "carolina"]
for magician in magicians:
  print(f"{magician.title()}, that was a crazy trick!!")
  print(f"I cant wait to see your next trick, {magician.title()}.\n")

print("Thank you, everyone. That was a weird magic show!")

Alice, that was a crazy trick!!
I cant wait to see your next trick, Alice.

David, that was a crazy trick!!
I cant wait to see your next trick, David.

Carolina, that was a crazy trick!!
I cant wait to see your next trick, Carolina.

Thank you, everyone. That was a weird magic show!

**Avoid indentation errors under a for loop by not forgetting to indent and not forgetting to indent with any additional lines.**

**No indentation needed under anything thats not a loop!!**

**Dont forget to not indent the summarized line so its out of the loop and is not repeated unnecessarily.**

**Dont forget the colon after the Forloop statement so python can interpret the next line as the start to the loop**

**Dont be so hard on yourself nick if you create an error because python's Tracebacks tell where the error is occurring. **

In [72]:
#Try it Yourself

pizzas = ["pepperoni", "cheese", "meatlovers"]

for pizza in pizzas:
  print(f"I like {pizza} pizza !!")

pizzas.append("sausage")
friend_pizza = pizzas[:]

friend_pizza.append("romeo chicken")

print(f"\nMy favorite pizzas are:")
for pizza in pizzas:
  print(pizza)

print(f"\nMy friends favorite pizza are:")
for pizza in pizzas:
    print(friend_pizza)

print("\nI really love pizza but i no longer can eat it because im on a diet\n")
print(f"If i were to have any pizza it would be {pizzas[0]}")
print(f"If im feeling crazy then ill go for a stuffed crust cowbunga style {pizzas[2]}")

I like pepperoni pizza !!
I like cheese pizza !!
I like meatlovers pizza !!

My favorite pizzas are:
pepperoni
cheese
meatlovers
sausage

My friends favorite pizza are:
['pepperoni', 'cheese', 'meatlovers', 'sausage', 'romeo chicken']
['pepperoni', 'cheese', 'meatlovers', 'sausage', 'romeo chicken']
['pepperoni', 'cheese', 'meatlovers', 'sausage', 'romeo chicken']
['pepperoni', 'cheese', 'meatlovers', 'sausage', 'romeo chicken']

I really love pizza but i no longer can eat it because im on a diet

If i were to have any pizza it would be pepperoni
If im feeling crazy then ill go for a stuffed crust cowbunga style meatlovers

In [33]:
animals = ["dog", "cat", "bird"]
for animal in animals:
  print(f"A {animal} would make such a good pet\n")

print("Any of these pets would make a great pet")

A dog would make such a good pet

A cat would make such a good pet

A bird would make such a good pet

Any of these pets would make a great pet

first_numbers.py

In [38]:
#making numerical lists

#using range() Function

for value in range(0,6):
  print(value)

0
1
2
3
4
5

In [39]:
#using range to make a list of numbers

numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

even_numbers.py

In [40]:
#if you use pass a 3rd argument in range it will use it as a step size

even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

square_numbers.py

In [41]:
squares =[]
for value in range(1,11):
  square = value **2
  squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
#more consisely code than the previous one that does the same thing. Sometimes using a temporary variable makes code easier to read

squares =[]
for value in range(1,11):
  squares.append(value **2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
#Simple statistics with a list of number

digits = [1, 2, 3 ,4 ,5 ,6 ,7 ,8 ,9 ,0]
min(digits)

0

In [15]:
digits = [1, 2, 3 ,4 ,5 ,6 ,7 ,8 ,9 ,0]
max(digits)

9

In [16]:
digits = [1, 2, 3 ,4 ,5 ,6 ,7 ,8 ,9 ,0]
sum(digits)

45

In [17]:
#List comprehension

squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#TRY IT YOURSELF

#counting to twenty in a for loop

for value in range(1,21):
  print(value)

In [23]:
#One Million    list of numbers from 1 to 1 million change it see if it was working and it told me it stopped for a fail safe from keeping the notebook from crashing

numbers =[]
for number in range(1,10):
  numbers.append(number)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
#summing a million

numbers = list(range(1,1000000))
min(numbers)

1

In [26]:
numbers = list(range(1,1000001))
max(numbers)

1000000

In [27]:
numbers = list(range(1,1000001))
sum(numbers)

500000500000

In [30]:
#odd numbers

for oddnumber in range(1,21,2):
  print(oddnumber)

1
3
5
7
9
11
13
15
17
19

In [35]:
#by threes

threes =[]
for three in range(3,30,3):
  threes.append(three)

print(threes)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
#cubes

In [39]:
cubes =[]
for cube in range(1,11):
  cubes.append(cube **3)
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [42]:
#cube comprehension

cubes = [number**2 for number in range(1,11)]
print(cubes)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

players.py

In [43]:
#working with part of a list
#slicing a list

players = ["charles", "martina", "micheal", "florence", "eli"]
print(players[0:3])

['charles', 'martina', 'micheal']

In [44]:
#subset of a list

players = ["charles", "martina", "micheal", "florence", "eli"]
print(players[1:5])

['martina', 'micheal', 'florence', 'eli']

In [45]:
#omitting the first index

players = ["charles", "martina", "micheal", "florence", "eli"]
print(players[:4])

['charles', 'martina', 'micheal', 'florence']

In [46]:
#omtting the second index

players = ["charles", "martina", "micheal", "florence", "eli"]
print(players[2:])

['micheal', 'florence', 'eli']

In [1]:
players = ["charles", "martina", "micheal", "florence", "eli"]
print(players[-3:])

['micheal', 'florence', 'eli']

In [6]:
#looping through a slice
players = ["charles", "martina", "micheal", "florence", "eli"]

print("Here are the first three players on my team:\n")

for player in players[:3]:
  print(player.title())

Here are the first three players on my team:

Charles
Martina
Micheal

foods.py

In [19]:
my_foods = ["pizza", "falafel", "carrot cake", "snickers"]
friend_foods = my_foods[:]

my_foods.append("sundae")
friend_foods.append("protein shake")

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

print("\nThe first 3 items of my list are:")
print(my_foods[0:3])

print("\nThe middle items of my list are:")
print(my_foods[1:4])

print("\nThe last items of my list are:")
print(my_foods[3:])

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'snickers', 'sundae']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'snickers', 'protein shake']

The first 3 items of my list are:
['pizza', 'falafel', 'carrot cake']

The middle items of my list are:
['falafel', 'carrot cake', 'snickers']

The last items of my list are:
['snickers', 'sundae']

In [ ]:
#TRY IT YOURSELF

#i added code to the foods.py program and pizza program. i couldnt figure out thewhy the friends list was repeating

dimensions.py

In [66]:
#puttin dimensions in a tuple cant alter them. parenthesis and not square brackets

dimensions = (200,50)
print(dimensions[0])
print(dimensions[1])

200
50

In [73]:
dimensions = (200,50)

for dimension in dimensions:
  print(dimension)

200
50

In [ ]:
#re assign a tuple because it valid

In [ ]:
#TRYITYOURSELF tuple

foods = ("chicken", "beef", "beans", "cereal", "rice")

for food in foods:
  print(food)

foods = ("chips", "wings", "tacos", "corn")
print("\nrevised menu:")
for food in foods:
  print(food)

In [22]:
#Write a function calledfactorial(n) that computes the factorial of a positive integer n using a list.
#Remember factorial? It's the product of all numbers from 1 to n. It's usually written "n!"
#Your function must make a list containing all the numbers from 1 to n  inclusive using a list comprehension.
#Then multiply all the numbers in the list together to get the result, like
#product = 1

#for x in my_list:

    # product *= x


factorials =[]
for n in range(1,11):
  factorial = n * (n-1)* (n-2)*(n-3)
  factorials.append(factorial)

print(factorials)

[0, 0, 0, 24, 120, 360, 840, 1680, 3024, 5040]